<style>
p {
  color: MediumSlateBlue;
  font-size: 20px;
}
body {
  background-color: Lavender;
}
h1 {
  color: RebeccaPurple;
}
h2 {
  color: MidnightBlue;
}
.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
}
</style>
