h2 {
  color: RebeccaPurple;
  text-align: center;
  font-family: "Lucida Console";
}
h3 {
  color: DarkViolet;
  text-align: left;
}
 body {
  background-color: LightSteelBlue;
} 
p {
  color: DarkViolet;
}
h1 {
  text-align: center;
}
