/* <style> */
h2 {
  color: RebeccaPurple;
  text-align: center;
}
body {
  background-color: LightSteelBlue;
}
p {
  color: DarkViolet;
}
.p1 {
  font-family: "Lucida Console";
}
h1 {
  text-align: center;
}
/* </style> */
